.jobItemFavorite:hover {
  opacity: 0.8;
  cursor: pointer;
}
.titleParagraphOne {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cursorDefault {
  cursor: default;
}
.width-70 {
  width: 69%;
}
.width-30 {
  width: 30%;
}
.width-33 {
  width: 31.9%;
}
.height-405 {
  height: 405px;
}
.h-5 {
  height: 1.25rem;
}
.w-5 {
  width: 1.25rem;
}
.z-index-999 {
  z-index: 999;
}
.mt-65 {
  margin-top: 65px;
}
.w-60 {
  width: 60px;
}
.h-70 {
  height: 70px;
}
.center-screen{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-footer{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*
 *  STYLE 4
 */

 #custom-scrollbar::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px #ece4e4d8;
   background-color: #f0e7e7;
 }
 
 #custom-scrollbar::-webkit-scrollbar
 {
   width: 5px;
   background-color: #F5F5F5;
 }
 
 #custom-scrollbar::-webkit-scrollbar-thumb
 {
   background-color: #0f0e0e;
   border: 1px solid #524747;
 }
 
 